# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserdata
*.swiftsourceinfo

# Firebase
/Wave-Companion/GoogleService-Info.plist
GoogleService-Info.plist
**/GoogleService-Info.plist


# Swift Package Manager
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

